<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "paydollies", root_url, id: 'header-logo' %>
      <!-- <%= link_to '#open', id: 'menu-icon' do %> -->
        <%= icon('bars', class: 'pseudoclick', id: 'menu-icon') %>
      <!-- <% end %> -->
    </div>
</header>
